@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: rgb(39, 39, 39);
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}

.navbar {
  position: relative;
  display: flex;
  right: 70px;
  bottom: 70px;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(248, 131, 35);
  width: 125px;
  height: 125px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  transition: all;
  transition-duration: 2s;
}

.navbar .open-Menu,
.navbar .close-Menu {
  background-color: transparent;
  border-radius: none;
  font-size: 30px;
  border-style: none;
}

.navbar .open-Menu {
  position: absolute;
  right: 35px;
  bottom: 35px;
}

.navbar .close-Menu {
  position: absolute;
  left: 35px;
  top: 35px;
}

.navbar .open-Menu,
.navbar .close-Menu:hover {
  cursor: pointer;
}

.navbar i {
  color: white;
}

.navbar.active {
  transform: rotate(-180deg);
}

.nav-Links {
  position: relative;
  top: 60%;
  right: 20px;
  transition-duration: 1.9s;
}

.nav-Links ul li {
  padding: 1rem;
  list-style: none;
}

.nav-Links ul li i {
  margin-right: 1rem;
  color: white;
}

.nav-Links ul li a {
  padding-right: 1rem;
  color: white;
  text-decoration: none;
  font-family: inherit;
}

.nav-Links ul :nth-child(2) {
  position: relative;
  left: 10px;
}

.nav-Links ul :nth-child(3) {
  position: relative;
  left: 20px;
}

.nav-Links.active {
  right: 220px;
}

.main-wrap {
  overflow-y: hidden;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  text-align: start;
  align-items: center;
  top: 0;
  z-index: -1;
}

.main-wrap .header {
  width: 100vw;
  height: 100vh;
  padding: 0% 5%;
  background-color: white;
  transition: all;
  transition-duration: 1s;
}

.main-wrap .header .header-wrapper {
  padding: 5% 5%;
}

.main-wrap .header .header-wrapper p {
  max-width: 100ch;
}

.main-wrap .header .header-wrapper img {
  height: 25%;
  width: 25%;
}

@media screen and (max-width: 769px) {
  .main-wrap .header .header-wrapper img {
    height: 65%;
    width: 65%;
  }

  .main-wrap .header .header-wrapper .header.active {
    position: relative;
    transform: rotate(-35deg);
  }
}

.main-wrap .header.active {
  position: relative;
  transform: rotate(-15deg);
  transform-origin: left top;
}
