@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: relative;
  display: flex;
  right: 70px;
  bottom: 70px;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(248, 131, 35);
  width: 125px;
  height: 125px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  transition: all;
  transition-duration: 2s;
}

.navbar .open-Menu,
.navbar .close-Menu {
  background-color: transparent;
  border-radius: none;
  font-size: 30px;
  border-style: none;
}

.navbar .open-Menu {
  position: absolute;
  right: 35px;
  bottom: 35px;
}

.navbar .close-Menu {
  position: absolute;
  left: 35px;
  top: 35px;
}

.navbar .open-Menu,
.navbar .close-Menu:hover {
  cursor: pointer;
}

.navbar i {
  color: white;
}

.navbar.active {
  transform: rotate(-180deg);
}

.nav-Links i {
  color: white;
}
